<h2>This is index page </h2>

{%if messages%}
	{%for message in messages%}
		<h3>{{message}}</h3>
	{%endfor%}
{%endif%}

<h1>Click here to order &nbsp;

<a href="{%url 'audio:create_order_view' %}">Order Something</a></h1>

<h1>Click here to Register &nbsp;

<a href="{%url 'audio:register_view' %}">Registration</a></h1>

<h1>Click here to Insert New Genre &nbsp;

<a href="{%url 'audio:populate_genre_view' %}">Populate Genre</a></h1>

<h1>Click here to Insert New Tracks &nbsp;

<a href="{%url 'audio:populate_track_view' %}">Populate Track</a></h1>

<h1>Click here to Login &nbsp;

<a href="{%url 'audio:login_view' %}">Login</a></h1>

<h1>Click here to Logout &nbsp;

<a href="{%url 'audio:logout_view' %}">Logout</a></h1>