{%load staticfiles%}

<h1>Welcome {{user.username}}</h1>
<h2>These are all available audios</h2>

<div class="row">

	<div class="col-md-10">
		<div class="row">
			
			{%for genre in audio_track_genre%}
				<div class="col-md-2">
					<h2>{{genre.genre_description}}</h2></br>
					{%for audio_track in genre.audiotrackdetail_set.all%}
						<form method="get" onsubmit="event.preventDefault(); submitOk();">
							<p>{{forloop.counter}}.&nbsp;{{audio_track.title}}&nbsp;&nbsp;</br>Amount- Rs. {{audio_track.price}}&nbsp;&nbsp;
							<button class="add_button" id="{{audio_track.title}}" type="submit" name="gen_it_id" value="{{genre.id}}_{{audio_track.id}}">Add</button>
							</p>
						</form>
					{%endfor%}
					</br>
				</div>
			{%endfor%}
			
		</div>
	</div>



	<div class="col-md-2">
		<form method="post">
			{%csrf_token%}
			<ul id="order_summary" style="list-style: none;">
				<li id="last_summary"></li>
			</ul>
			<input type="submit" value="See Order Detail">
		</form>
	</div>


</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{% static 'audio/create_order.js' %}"></script>
