<h1>Welcome {{user.username}}</h1>
<h2>These are all available audios</h2>
<form method="post">
	{%csrf_token%}
	<input type="submit" name="submit">
	{%for genre in audio_track_genre%}
		<h2>{{genre.genre_description}}</h2></br>
		{%for audio_track in genre.audiotrackdetail_set.all%}
			<p>{{forloop.counter}}.&nbsp;{{audio_track.title}}&nbsp;&nbsp;</br>Amount- Rs. {{audio_track.price}}&nbsp;&nbsp;
				<input type="number" value="0" name="track_{{genre.id}}_{{audio_track.id}}" min="0" max="100000" >
			</p>
		{%endfor%}
		</br>
	{%endfor%}
	<input type="submit" name="submit">
</form>
